.besetzt {
	background-color: gray;
	border-left-color: gray;
	border-right-color: gray;
}

.selectableTD {
	cursor: cell;
}

.firstTd {
	text-align: center;
}

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	table-layout: fixed;
	
	
}

.bookingContent{
	width: 200%; 
	height: 100%; 
	overflow:hidden;
  	text-align: center;
  	z-index:-1;
}

table td {
	border: 1px solid #999;
	height: 40px;
	margin: 10px; 
	white-space: nowrap;
	
}

#hotelTable td {
	border: 1px solid #999;
	
}

#roomDiv {
	position: relative;
	width: 10%;
}

#tableDiv {
	position: relative;
	width: 90%;
}

table.fixed {
	table-layout: fixed;
}

table.fixed td {
	overflow: hidden;
}

#monthTable {
	width: 100%;
}

#firstMonth {
	background-color: olive;
	text-align: center;
}

#secondMonth {
	background-color: fuchsia;
	text-align: center;
}

#divKalendar {
	width: 100%;
}

#hotelTable {
	max-width: 100%;
}

td.selected {
	background-color: green;
}

#leftKalendar, .floatTable {
	float: left;
}

#rightKalendar {
	float: right;
}

.firstTd {
	background-color: yellow;
	font-style: italic;
	font-weight: bold;
}

#monthDiv, #monthTable {
	width: 100%
}

#content div {
	border: 2px solid red;
	margin: 5px;
}

/*----------------- Ed -------------*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
}

.sidenav a {
	padding: 8px 32px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 35px;
	margin-left: 50px;
	cursor: pointer;
	border: 1px solid #AEAEAE;
	border-radius: 30px;
}

#main {
	transition: margin-left .5s;
	padding: 6px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 18px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#addPerson input {
	display: block;
	margin-left: 10%;
}

/* button{
 display: inline;
 margin-left:9.5%;
 margin-bottom:5%;
} */
#overlay {
	font-size: 50px;
	top: 40%;
	width: 75px;
	color: white;
	cursor: pointer;
	position: fixed;
	margin: 0 0 0% 97.5%;
	background-color: gray;
	padding: 2% 0% 2% 0%;
	position: fixed;
	z-index: 1;
}
	
	
/*----- Ende of Ed_style --------- */